* {
    box-sizing: border-box;
}


header {
    text-align: center;
    grid-area: header;
}

footer {
    grid-area: footer;
}

body {
    padding: 0;
    background-color: cadetblue;
    text-align: justify;
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

header,
footer {
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
}

img {
    width: 100%;
}

.gallery {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;

}

.column {
    flex: 25%;
    padding: 20px;
}

.column img {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .column {
        flex: 100%
    }
}

div {
    margin-top: 60px;
    margin-bottom: 60px;

}

figcaption {
    margin-bottom: 30px;
}

nav {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;

}

a {
    background-color: blue;
    color: antiquewhite;
    font-size: large;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: blue;

}